a:hover, a:hover, a:focus {
    text-decoration: none;
}

.input-group-addon {
    background-color: white;
    color: green;
}

* {
    border-radius: 0px !important;
}

.main-content .logo > * {
    font-weight: 900;
    color: green;
}

.main-content .buttons a.btn {
    height: 4em;
    padding: 1em;
}

.main-content > div {
    margin-top: 10px;
}

.pagination > li > a, .pagination > li > span {
    color: inherit;
}

.table-bordered > tbody > tr > td:first-child, .table-bordered > tbody > tr > th:first-child, .table-bordered > tfoot > tr > td:first-child, .table-bordered > tfoot > tr > th:first-child, .table-bordered > thead > tr > td:first-child, .table-bordered > thead > tr > th:first-child {
    border-left: 0px;
}

.table-bordered > tbody > tr > td:last-child, .table-bordered > tbody > tr > th:last-child, .table-bordered > tfoot > tr > td:last-child, .table-bordered > tfoot > tr > th:last-child, .table-bordered > thead > tr > td:last-child, .table-bordered > thead > tr > th:last-child {
    border-right: 0px;
}

.table-bordered {
    border-left: 0px;
    border-right: 0px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc
}

.filter-panel h1, .filter-panel h2, .filter-panel h3 {
    margin-top: 0px;
    color: green;
}

.menu .btn:hover {
    background-color: #f6f6f6;
}

.btn, .btn:hover, .btn:focus {
    background-color: transparent;
}

tfoot {
    font-weight: 600;
}

.filter-panel .form-group .fa {
    color: #ccc;
    margin-right: 5px;
}

.panel-group {
    border: 0px;
}

.panel-group .panel {
    border-right-width: 0px;
    border-left-width: 0px;
}

.panel-group .panel-heading {
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    background-color: white;
}

.panel-title {
    color: green;
}

.fa-1-5 {
    font-size: 1.5em;
}

.btn-action, .btn-action:hover, .btn-action:focus {
    border-color: green;
    color: green;
    background-color: white;
}

