<link href="css/configuration.css" rel="stylesheet" type="text/css">

<div class="content col-xs-12">

    <uib-tabset justified="false">
        <uib-tab index="0" heading="Valores Default" select="loadConfig()">
            <form>
                <div class="col-md-12" block-ui="panel-configuration">
                    <div class="form-group col-xs-3">
                        <label for="valorInicialSprintDefault">Valor inicial sprint</label>
                        <input id="valorInicialSprintDefault" class="form-control"
                               ng-model="configuration.initialValue">
                    </div>
                    <div class="col-xs-12" ng-show="showCommands()">
                        <span class="pull-right">
                            <input type="submit" class="btn btn-default btn-action" type="button" ng-click="save()"
                                   value="Salvar">
                            <button class="btn btn-default btn-reject" type="button" ng-click="cancel()">
                                Cancelar
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </uib-tab>
        <uib-tab index="1" heading="Grupos" select="loadGroups()">
            <div class="col-xs-12 padding-10" block-ui="panel-group">
                <div class="list-groups-menu col-xs-12">
                    <a class="btn btn-default btn-action col-md-2 pull-right" ng-click="newGroup()">
                        <i class="fa fa-plus fa-1-5"></i>
                        <span>Novo Grupo</span>
                    </a>
                </div>
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered col-xs-12">
                            <thead>
                            <tr>
                                <th class="col-xs-9">Grupo</th>
                                <th class="col-xs-2">Ativo</th>
                                <th class="col-xs-1"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="group in groups">
                                <td>{{group.name}}</td>
                                <td><i class="fa"
                                       ng-class="group.active ? 'fa-check-square-o' : 'fa-square-o'"></i>
                                </td>
                                <td>
                                    <span class="pull-right">
                                        <a class="btn btn-link btn-table-option" ng-click="editGroup(group)"><i
                                                class="fa fa-pencil"></i></a>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
