<link href="css/login.css" rel="stylesheet" type="text/css">

<div class="content col-xs-12">
    <form name="loginForm">
        <div class="col-xs-12">
            <div class="form-group col-xs-4 col-xs-offset-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Usuário"
                           ng-model="user.username" name="username" tabindex="1">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group col-xs-4 col-xs-offset-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    <input type="password" class="form-control" placeholder="Senha"
                           ng-model="user.password" name="password" tabindex="2">
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <a class="btn btn-default" ng-click="login()" tabindex="3">Entrar</a><br><br>
            <sub><a class="btn-link" ng-click="rememberPassword()" tabindex="4">Esqueceu sua senha?</a></sub>
        </div>
    </form>
</div>