<link href="css/transactions.css" rel="stylesheet" type="text/css">

<div class="content col-xs-12">
    <div class="list-transaction-menu">
        <span class="col-md-12">
            <a class="btn btn-default pull-left" ng-click="changeFilterVisibility()">
                <i class="fa fa-search fa-1-5 fa-flip-horizontal"></i>
            </a>
        </span>

        <div class="col-md-12">
            <div uib-collapse="!showFilter">
                <div class="filter-panel well well-sm col-xs-12">
                    <h3 class="text-left">Filtros</h3>
                    <form>
                        <div class="form-group col-xs-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="De"
                                       ng-model="filter.from" ng-change="query()">
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Para"
                                       ng-model="filter.to" ng-change="query()">
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <div id="grupoDataFiltro">
                                <div class="col-xs-6 no-padding-left">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="date" class="form-control" placeholder="Data Inicial"
                                               ng-model="filter.date.begin" ng-change="query()">
                                    </div>
                                </div>
                                <div class="col-xs-6 no-padding-right">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="date" class="form-control" placeholder="Data Final"
                                               ng-model="filter.date.end" ng-change="query()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <div id="grupoValorFiltro">
                                <div class="col-xs-6 no-padding-left">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                        <input type="number" class="form-control" placeholder="Valor Inicial"
                                               ng-model="filter.value.begin" ng-change="query()">
                                    </div>
                                </div>
                                <div class="col-xs-6 no-padding-right">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                        <input type="number" class="form-control" placeholder="Valor Final"
                                               ng-model="filter.value.begin" ng-change="query()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-undo"></i></span>
                                <input type="text" class="form-control" placeholder="Sprint"
                                       ng-model="filter.sprint" ng-change="query()">
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-comment"></i></span>
                                <input type="text" class="form-control" placeholder="Mensagem"
                                       ng-model="filter.message" ng-change="query()">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="list-transaction col-xs-12" block-ui="panel-transactions">
        <div class="table-responsive">
            <table class="table table-striped table-bordered col-xs-12">
                <thead>
                <tr>
                    <th>Para</th>
                    <th>De</th>
                    <th>Data</th>
                    <th>Sprint</th>
                    <th>Valor</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="transaction in transactions">
                    <td>{{transaction.to.name}}</td>
                    <td>{{transaction.from.name}}</td>
                    <td>{{transaction.date | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{transaction.sprint.name}}<br/>
                        <sub>{{transaction.sprint.begin | date : 'dd/MM/yyyy'}} - {{transaction.sprint.end | date :
                            'dd/MM/yyyy'}}</sub>
                    </td>
                    <td>{{transaction.value}}</td>
                    <td>
                        <a tabindex="0" class="btn btn-link btn-table-option pull-right"
                           uib-popover="{{transaction.motive}}" popover-placement="left" popover-trigger="focus">
                            <span class="fa fa-comment-o"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-right" colspan="6"><sub>
                            <bold>Total das Transações:</bold>
                            {{totalTransactions}}</sub></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <nav class="text-center">
            <ul uib-pagination previous-text="&laquo;" next-text="&raquo;" max-size="5" rottation="true"
                items-per-page="20"
                total-items="totalItems" ng-model="currentPage" ng-change="filter()"></ul>
        </nav>
    </div>
</div>