<div class="user-menu" ng-controller="UserMenuController">
    <div ng-if="showMenu()">
        <span class="pull-right">

            <span uib-dropdown on-toggle="toggled(open)">
              <a href class="user-menu-dropdown" uib-dropdown-toggle>
                <span class="fa fa-user fa-2x"></span>
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                <li class="text-center">
                  {{identity.name}}<br>
                  <sub>({{identity.group.name}})</sub>
                </li>
                <li role="separator" class="divider"></li>
                <li class="text-center">
                  <a class="logout" ng-click="logOut()">Sair&nbsp;<span class="fa fa-sign-out"></span></a>
                </li>
              </ul>
            </span>

            <br>


        </span>
    </div>
</div>