<div class="modal-header">
    <h3 class="modal-title">{{onEdition ? 'Editar' : 'Criar'}} Sprint</h3>
</div>

<form name="sprintEditForm" novalidate>
    <div class="modal-body">
        <div class="form-group col-xs-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-undo"></i></span>
                <input name="sprintName" type="text" class="form-control" id="nomeSprint" placeholder="Nome da Sprint"
                       ng-model="sprint.name" required="true">
            </div>
        </div>
        <div class="form-group col-xs-6">
            <div class="input-group">
                <a class="input-group-addon" ng-click="alterDatePopUp('sprintBegin')"><i class="fa fa-calendar"></i></a>
                <input name="sprintBegin" class="form-control" placeholder="Data Inicial" required="true" readonly uib-datepicker-popup="dd/MM/yyyy" ng-model="sprint.begin"
                       is-open="datePopUpsState.sprintBegin" show-button-bar="false" ng-click="alterDatePopUp('sprintBegin')">
            </div>
        </div>
        <div class="form-group col-xs-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                <select name="sprintGroup" class="form-control" ng-model="sprint.group" required="true"
                        ng-options="group as group.name for group in groups track by group.id">
                    <option class="placeholder" value="">Grupo...</option>
                </select>
            </div>
        </div>
        <span class="clearfix"></span>
    </div>

    <div class="modal-footer">
        <input type="submit" class="btn btn-default btn-action" type="button" ng-click="ok()"
               value="{{onEdition ? 'Salvar' : 'Criar'}}">
        <button class="btn btn-default btn-reject" type="button" ng-click="cancel()">
            Cancelar
        </button>
    </div>
</form>